.custom-navbar {
  padding-left: 2.5vw;
  padding-right: 2.5vw;
}

.custom-link {
  text-decoration: none;
  color: #ffffff;
  position: relative;
}
.custom-link:hover {
  filter: brightness(2);
}

.custom-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #ffffff;
  height: 1px;
}

.custom-link:hover:after {
  width: 100%;
  /* transition: all 1s; */
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.main-container {
  min-height: 100vh;
}
